
body{
  overflow-x: hidden; 
  max-width: 100%;
  position: relative
}
/*HEADER==============================================================*/

header{
  background-color: #f0f0f0;
  background-image:url(../images/feather.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /*background-position: bottom right;*/
  color:white;
  height: 100vh;
  /*font-size: 20em;*/
}

header h1{
  display: block;
  color: white;
  padding-top: 15%;
  
  }

/*==============================================================*/

/*ACTIVITY==============================================================*/
.activity{
  
  font-family: 'Comic Sans', cursive;

}
.travel{
  background-color: #f0f0f0;
  padding-left: 10%;
  padding-right: 10%;
}
.activity img{
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  /*padding: 0;*/
  
}

#travelImg{
  margin:auto auto;
  background-color:white;
  border:3px solid black;
  -webkit-animation-duration: 0.5s;
}
.travel .desc{
  -webkit-animation-duration: 0.5s;
}
#travel-desc{
  display: block;
  margin-left:20%;
}
#motorImg{
  display: block;
  float: center;
  margin-left:20%;
}

.activity h2{
  font-size: 3em;
  font-weight: 500;
}

.activity h3{
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.6em;
}
.activity ul{
  margin-top: 10px;
  font-size: 1.4em;
  font-weight: 500;
}
.activity .desc{
  margin: auto;
}

.motorsport{
  background-color: #3e4444;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}


/*==============================================================*/

/*Projects==============================================================*/
.projects{
  background-color: #f0f0f0;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}
.projects h2{
  font-size: 2.2em;
}
.projects h3{
  margin-top: 1em;
  font-size: 1.3em;
}
.projects img{
  background-color: white;
  border-color: black;
  margin-top: 2em;
}

/*==============================================================*/
/*Heading*/
.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 4.5em;
  color: white;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line-heading {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: white;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}

/*Travel*/
.ml14 {
  font-weight: 200;
  font-size: 3.2em;
}

.ml14 .text-wrapper-travel {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml14 .line-travel {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: black;
  transform-origin: 100% 100%;
  bottom: 0;
}

.ml14 .letter-travel {
  display: inline-block;
  line-height: 1em;
}


/*Motor*/

.ml14 .text-wrapper-motor {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}


.ml14 .line-motor {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: white;
  transform-origin: 100% 100%;
  bottom: 0;
}

.ml14 .letter-motor {
  display: inline-block;
  line-height: 1em;
}

/*RESPONSIVE==============================================================*/
@media screen and (max-width: 750px){
  header > .header-wrapper{
    padding-top: 5%;
  }

  header h1{
    font-size: 5em;
  }

  #motorImg{
    margin-left: 0%;
    float: left;
  }
  #travel-desc{
    margin-left: 0%;
    float: left;
  }
}


/*==============================================================*/
