/*Global Styles===========================================================================================*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans', cursive;
    font-size: 15px;
    line-height: 1.5;
  }
  
/*===========================================================================================*/

/*HEADER===========================================================================================*/
header{
  background-color: #f0f0f0;
  background-image:url(../images/glasses.jpeg);
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100%  100%;
  color: white;
  height: 100vh;
  /*font-size: 20em;*/
}
header h1{
  font-size: 5em;
}
header > .header-wrapper{
  padding-top: 20vh;
}
#hire-btn{
  font-size: 1.3em;
  font-weight: 700;
  color: #F7FFF7;
  background-color: rgb(0,0,0,0.3);
  border: 1px solid #e1a87a;
  text-decoration: none;
  padding: 15px;
  border-radius: 1px;
  display: inline-block;
  margin-top: 10px;
}
#hire-btn:hover{
  background-color: #e1a87a;
}


  /*===========================================================================================*/

  /*FACTS===========================================================================================*/
  .facts{
    background-color: white;
    color: black;
    padding-left: 10%;
    padding-right: 10%;
  }
  .facts img{
    display: block;
    margin:10px auto;
    background-color: #3e4444;
  }
  .facts .desc{
    padding-top: 20px;
    margin: auto;
  }

  .facts h2{
    font-size: 3em;
  }
  .facts p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
/*===========================================================================================*/

/*DEDICATION===========================================================================================*/
.dedication{
  background-color: #f0f0f0;
  margin: auto;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  
}
.dedication h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 30px;
}
.dedication p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  line-height: 2em;
}

/*===========================================================================================*/


/*COllAGE===========================================================================================*/
.flex-container{
  background-color: #f0f0f0;
  margin : auto;
  display:flex;
  flex-wrap: wrap-reverse;
}
.flex-item{
  text-align: center;
  flex: 1 1 150px;
}
/*===========================================================================================*/

@media screen and (max-width: 750px){
  header > .header-wrapper{
    padding-top: 5%;
  }

  header h1{
    font-size: 3em;
  }

  .dedication p{
    font-size: 1.5em;
   
  }
}
