/*Global page============================================================================*/

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
  }
h1, h2, h3, h4, ul{
    font-family: Tahoma, Geneva, sans-serif;
}
/*============================================================================*/
/*HEADER============================================================================*/
header{
    background-color: #f0f0f0;
    background-image:url(../images/wooddesk.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%  100%;
    color: white;
    height: 100vh;
    /*font-size: 20em;*/
  }
  header h1{
      font-size: 4em;
      color: #f0f0f0;
      padding-top: 10%;
      padding-right: 50%;
  }

  header .scroll-wrapper{
    position: relative;
    top: 35%;
  }
  
  #scroll-btn:hover{
    color: #e1a87a;
  }
  

  /*============================================================================*/

  /*RESUME SECTION============================================================================*/
  #resume{
      background-color: #f0f0f0;
      padding-right: 10%;
  }
  .Topic{
      padding-top: 10%;
      padding-left: 5%;
  }

  .section-title h2{
      font-size: 1.7em;
  }
  .skills{
      padding-top: 10px;
  }
  #resume h3{
    font-size: 1.3em;
  }
  #resume a{
    font-size: 1em;
    font-weight: 400;
  }
  #resume h4{
      font-size: 1em;
      font-weight: 400;
  }
  .education-degree, .work-experience{
      padding-top: 20px;
  }
  #education-section{
      padding-bottom: 40px;
  }

  /*============================================================================*/

  .ml11 {
    
    font-size: 1.7em;
  }
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line-tech {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: black;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter-tech {
    display: inline-block;
    line-height: 1em;
  }




/*=====*/

.ml11 .line-work {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: black;
    transform-origin: 0 50%;
  }
  
  .ml11 .line2 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter-work {
    display: inline-block;
    line-height: 1em;
  }

/*=====*/

.ml11 .line-educ {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: black;
    transform-origin: 0 50%;
  }
  
  .ml11 .line3 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter-educ {
    display: inline-block;
    line-height: 1em;
  }



/*RESPONSIVE============================================================================*/

@media screen and (max-width: 850px){
    header h1{
        padding-right: 2%;
    }
    header .scroll-wrapper{
      display: none;
    }
}

/*============================================================================*/