

/*GLOBAL STYLER=================================================*/

html {
    box-sizing: border-box;
  }

  
  body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans', cursive;
    font-size: 15px;
    line-height: 1.5;
  }
  img {
    width: 300px;
  }
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
  }

  h1 {
    font-size: 100em;
    line-height: 1;
  }
  h2 {
    font-size: 70px;
  }
  h1, h2 {
    font-family: 'Comic Sans', cursive;
    font-weight: 400;
    margin: 0;
  }
  h3 {
    margin-bottom: 0;
    font-family: 'Comic Sans', cursive;
  }
  

/*==============================================================*/
  
/*NAV BAR==============================================================*/

nav{

    text-align: center;

}
nav a{
    font-size: 1.3em;
    font-family: 'Oswald', sans-serif;
    color: blue;   
}
nav a:hover{
  color:#e1a87a;
}

#home-btn{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 10px;
    font-size: 20px;
    text-decoration: none;

}

/*Footer==============================================================*/
footer{
    background-color: #3e4444;
    text-align: center;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  footer > h2{
    font-size: 2em;
  }
  .footer-btn{
    padding-left: 16px;
    padding-right: 16px;
    background-color: #3e4444;
    border: 0px;
  }
  /*==============================================================*/

  /*Fonts==============================================================*/

  @font-face {
    font-family: Oswald;
    src: url(../component/fonts/Oswald/Oswald-VariableFont_wght.ttf);
  }
  
  @font-face {
    font-family: 'Comic Sans';
    src: url(../component/fonts/Comic_Sans/comic.ttf);
  }